{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Mahourt{% endblock %}

{% block navbar %}{% endblock %}

{% block footer %}
<p>&copy; <a href="http://benjamingrandfond.fr" target="_blank">Benjamin Grandfond</a> {{ "now"|date("Y") }}</p>
{% endblock %}
