parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    # assetic
    assetic_node:       /usr/bin/node
    assetic_node_paths: %kernel.root_dir%/../node_modules
    assetic_less:       %assetic_node_paths%/.bin/lessc
